body{
    top: 0 !important;
}
.goog-te-banner-frame{
    display: none;
}
.goog-te-gadget-simple{
    background-color: #131316 !important;
    color: white !important;
    border: 1px solid black !important;
    padding: 10px !important;
    margin-top: -15px !important;
}
.goog-te-gadget-icon{
    display: none;
}

.goog-te-gadget-simple span{
    color: white !important;
}
#li-translate::marker{
    color: #131316;
}
iframe.goog-te-menu-frame{
    background-color: #131316 !important;
    margin-left: 15px !important;
    box-shadow: none !important;
    border: none !important;
}