.form-register h4{
    margin-bottom: 22px;
}

.containers{
    margin-bottom: 40px;
}

#listaForm{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 12px;
}

#listaForm li{
    display: inline;
}

.main-div{
    height: 900px;
}