.alerDiv{
    background-color: red;
    width: 420px;
    height: 80px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 50px;
    padding-top: 30px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px grey;
}

.main-div{
    height: 900px;
}